<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Amiibo.Land - The Ultimate Source for Amiibo Collectors!</title>
        <link rel="stylesheet" href="/css/bulma.css">
        <link rel="stylesheet" href="/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/amiiboland.js"></script>
        <link rel="icon" href="/amiibo.ico">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>

    <div id="navMenu">
        <script>
            $.get("/navbar", function(data){
                $("#navMenu").replaceWith(data);
            });
        </script>
    </div>
    <body>



    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    User Profile
                </h1>
                <h2 class="subtitle">
                    Users personal tag line
                    <i class="fas fa-pencil-alt fa-xs"></i>


                </h2>
            </div>
        </div>
    </section>


    <div class="columns">
        <div class="column is-one-fifth">
            About
        </div>



        <div class="column is-three-fifths">
            <div class="container is-fluid">

        <div class="tabs is-left">
            <ul>
                <li class="is-active">
                    <a>
                        <span class="icon is-small"><i class="fas fa-star" aria-hidden="true"></i></span>
                        <span>Collection</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon is-small"><i class="fas fa-heart" aria-hidden="true"></i></span>
                        <span>Favorites</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon is-small"><i class="fas fa-gem" aria-hidden="true"></i></span>
                        <span>Wish List</span>
                    </a>
                </li>
            </ul>
        </div>
            </div>
        </div>



        <div class="column is-three-fifths">
            Activity
        </div>
    </div>




    <footer class="footer">
        <div class="content">
            <center>
                <strong> Amiibo.Land © <a href="http://iamtravisw.com"> Travis Woodward</strong>.<br></a>
                All trademarks, service marks, trade names, trade dress, product names and logos appearing on the site are the property of their respective owners.</a><br>
                <a href="/privacypolicy">Privacy Policy</a> | <a href="/termsofservice">Terms of Service</a>
            </center>
        </div>
    </footer>

    </body>
</html>