<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Amiibo.Land - The Ultimate Source for Amiibo Collectors!</title>
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/amiiboland.js"></script>
    <link rel="icon" href="/amiibo.ico">
    <script src="/js/vanillatoasts.js"></script>
    <link href="/css/vanillatoasts.css" rel="stylesheet"></script>
    <script type="text/javascript">
        var authenticated = $authenticated;
    </script>
</head>

<div id="navMenu">
    <script>
        $.get("/navbar", function(data){
            $("#navMenu").replaceWith(data);
        });
    </script>
</div>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div id="login">
            <script>
                $.get("/login", function(data){
                    $("#login").replaceWith(data);
                });
            </script>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Sign up incomplete
            </h1>
            <h2 class="subtitle">
                Error signing up
            </h2>
        </div>
    </div>
</section>
<br>

<div class="container is-fluid">
    <div class="notification">

        <strong>Sorry, your attempt to sign up failed for one of the reasons below.</strong><br><br>

        <strong>Possibilities:</strong><br>
        1. Your email is already being used.<br>
        2. Your username is already being used.<br><br>

        If you believe this is an error you can <a href="https://www.iamtravisw.com/p/amiiboland.html">
        leave a comment on my website</a>.<br><br>

        You can try to <a href="/signup">sign up again</a>.<br><br>

    </div>
</div>

<footer class="footer">
    <div class="content">
        <center>
            <strong> Amiibo.Land © <a href="http://iamtravisw.com"> Travis Woodward</strong>.<br></a>
            All trademarks, service marks, trade names, trade dress, product names and logos appearing on the site are the property of their respective owners.</a><br>
            <a href="/privacypolicy">Privacy Policy</a> | <a href="/termsofservice">Terms of Service</a>
        </center>
    </div>
</footer>

</body>
</html>